html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {font-size: 100%;}
body {font-family:"source sans pro"; font-size: 1.2rem;}
main { max-width: 1200px; margin: 0 auto;}
p {margin: 0; padding: 0;}
a { color: #137cdd; text-decoration: none;}
a:hover {color: #0d3f6e;}
header {min-height: 100px;}
header h1 {border-top:1px solid #ddd; font-size:1rem; text-transform: uppercase; margin-top: 2em; padding-top: 0.2em;}
footer {margin-top: 100px; border-top:1px solid #eee; font-size: 0.8em; padding-top: 10px; text-align:center; padding-bottom: 100px;}

/* listing page */

.pages {margin:0.5em 0; padding:0; list-style-type: none;}
.pages__list {display: inline-block; background: #eee; font-weight: bold; border-radius: 0.2em; padding: 10px 20px; margin-right: 10px;}

.listing {margin: 0.5em 0; padding: 0; list-style-type: none; border-bottom:1px solid #ddd;}
.listing__link {display: block; padding: 10px 5px; text-decoration: none; border-top:1px solid #ddd; line-height:1.2; color: #333; transition: background-color 0.2s ease; }
.listing__link:visited {color: #777;}
.listing__link:hover {background-color: #f5f5f5;}
.listing__id {display: block; color: #777; font-size: 1rem; font-weight:bold;}
.listing__name {font-size: 1.5rem;}
.listing__item {}

/* readout page */

.report__name {font-size: 3rem; line-height:1;}
.report__id {font-weight:normal; color: #777; display: block;}

.report__link {display: inline-block; background: #eee; font-weight: bold; border-radius: 0.2em; padding: 10px 20px; }

.report__section {border-top:3px solid #222; padding: 10px 3px 30px 3px; margin-top: 30px;}
.report__header {margin:0; padding: 0 0 1.5em 0;}
.report__error {margin: 1em 0; font-weight:bold; color: red; padding-left: 23px; background:url(../i/cross.svg) left center no-repeat; background-size: 16px;}
.report__ok {margin: 1em 0; font-weight:bold; color: green; padding-left: 23px; background:url(../i/tick.svg) left center no-repeat; background-size: 16px;}

.report__block { border-top:1px solid #aaa; padding: 5px 3px 30px 3px; vertical-align: top; }
/*.report__block:nth-child(2n) {margin-left: 2%;}*/
.report__sub-block {width: 23%; display:inline-block; vertical-align:top; margin-right: 2%; padding-bottom: 20px;}
.report__block-title {margin: 0; padding: 0 0 1em 0; font-weight: bold;}
.report__attribute {padding: 7px 0;}
.report__attribute+.report__attribute {border-top:1px solid #ddd;}
.report__attribute-name {font-size: 0.9rem; margin: 0; padding:0; text-transform: uppercase; color: #777;}
.report__attribute-value {display: block;}

.report__counter {margin: 0; width: 20px; text-align:center; background: #333; border-radius: 50%; line-height: 20px; display: inline-block; color: #fff; }

.report__validator {list-style-type: none; margin: 0 0 2em 0;padding: 0;}
.report__error-item { padding: 5px; font-size: 14px; border-top:1px solid #ddd;}
.report__error-type-error {color: red; font-weight:bold; display: inline-block; width: 80px;}
.report__error-type-info { font-weight:bold; display: inline-block; width: 80px;}

.report__attribute-value.attr-small {font-size:15px; line-height: 1.1;}

.report__section textarea {max-width: 100% !important; padding: 20px; border-radius: 0.5em; border:0; background: #222; color: #eee;  font-size: 18px; font-family:consolas, 'andale mono', monospace;}


.report__end {margin-top: 4em; border-top:3px solid #111; padding-top: 10px;}
